<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jincou.validation.dao.InvCusEventInfoMapper">
  <resultMap id="BaseResultMap" type="com.jincou.validation.dynamic.InvCusEventInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pin" jdbcType="VARCHAR" property="pin" />
    <result column="loan_no" jdbcType="VARCHAR" property="loanNo" />
    <result column="event_category" jdbcType="VARCHAR" property="eventCategory" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="complaint_type" jdbcType="VARCHAR" property="complaintType" />
    <result column="complaint_source" jdbcType="VARCHAR" property="complaintSource" />
    <result column="created_user" jdbcType="VARCHAR" property="createdUser" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_status" jdbcType="VARCHAR" property="eventStatus" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="curr_operator" jdbcType="VARCHAR" property="currOperator" />
    <result column="complaint_info" jdbcType="VARCHAR" property="complaintInfo" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>

<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select id, pin, loan_no, event_category, product_type, complaint_type, complaint_source,
  created_user, org_id, org_name, event_id, event_status, id_no, phone_num, curr_operator,
  complaint_info, created_time, modified_time
  from inv_cus_event_info
  where id = #{id,jdbcType=BIGINT}
</select>

  <insert id="insertSelective" parameterType="com.jincou.validation.dynamic.InvCusEventInfo">
    insert into inv_cus_event_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pin != null">
        pin,
      </if>
      <if test="loanNo != null">
        loan_no,
      </if>
      <if test="eventCategory != null">
        event_category,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="complaintType != null">
        complaint_type,
      </if>
      <if test="complaintSource != null">
        complaint_source,
      </if>
      <if test="createdUser != null">
        created_user,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="eventStatus != null">
        event_status,
      </if>
      <if test="idNo != null">
        id_no,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="currOperator != null">
        curr_operator,
      </if>
      <if test="complaintInfo != null">
        complaint_info,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="attachment != null">
        attachment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pin != null">
        #{pin,jdbcType=VARCHAR},
      </if>
      <if test="loanNo != null">
        #{loanNo,jdbcType=VARCHAR},
      </if>
      <if test="eventCategory != null">
        #{eventCategory,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="complaintType != null">
        #{complaintType,jdbcType=VARCHAR},
      </if>
      <if test="complaintSource != null">
        #{complaintSource,jdbcType=VARCHAR},
      </if>
      <if test="createdUser != null">
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventStatus != null">
        #{eventStatus,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR,typeHandler=com.jd.jr.cf.ledger.investor.handler.CryptoHandler},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR,typeHandler=com.jd.jr.cf.ledger.investor.handler.CryptoHandler},
      </if>
      <if test="currOperator != null">
        #{currOperator,jdbcType=VARCHAR},
      </if>
      <if test="complaintInfo != null">
        #{complaintInfo,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachment != null">
        #{attachment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>